<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.5/phpunit.xsd"
    colors="true"
    bootstrap="./bootstrap.php"
>
	<testsuites>
		<testsuite name="EPDOStatement Unit Test Suite">
			<directory>./</directory>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist processUncoveredFilesFromWhiteList="true">
			<directory suffix='.php'>../src</directory>
		</whitelist>
	</filter>
</phpunit>
